@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@




<div id="Desktop-1930x1080" class="Desktop-1930x1080_Class">
    <div data-type="Text" data-name="Welcome to the Consortium for Commuting Sciences in Colleges - Midwest" class="Welcome_to_the_Consortium_for__Class">
        <span>Welcome to the Consortium for Commuting Sciences in Colleges - Midwest</span>
    </div>
    <svg data-type="Rectangle" data-name="navbar" class="navbar">
        <rect class="navbar_Class" rx="0" ry="0" x="0" y="0" width="1920" height="94">
        </rect>
    </svg>
    <div data-type="Symbol" data-name="Component 1 – 1" class="Component_1___1 Component_1__1_Class">
        <div data-type="Text" data-name="CCSC" class="CCSC_Class" id="goHome">
            <span>CCSC</span>
        </div>
    </div>
    <div data-type="Symbol" data-name="Component 1 – 2" class="Component_1___2 Component_1__2_Class">
        <div data-type="Text" data-name="Profile" class="Profile_Class">
            <span>Profile</span>
        </div>
    </div>
    <div data-type="Symbol" data-name="Component 1 – 3" class="Component_1___3 Component_1__3_Class">
        <div data-type="Text" data-name="About" class="About_Class" id="goToAbout">
            <span>About</span>
        </div>
    </div>
    <div data-type="Symbol" data-name="Component 1 – 4" class="Component_1___4 Component_1__4_Class">
        <div data-type="Text" data-name="Contact Us" class="Contact_Us_Class" id="goToContactUs">
            <span>Contact Us</span>
        </div>
    </div>
    <div data-type="Group" data-name="Group 5" class="Group_5_Class">
        <div data-type="Group" data-name="Group 4" class="Group_4_Class">
            <div data-type="Group" data-name="Group 3" class="Group_3_Class">
                <div data-type="Group" data-name="Group 1" class="Group_1_Class">
                    <svg data-type="Rectangle" data-name="Rectangle 1" class="Rectangle_1">
                        <rect class="Rectangle_1_Class" rx="78" ry="78" x="0" y="0" width="1320" height="756">
                        </rect>
                    </svg>
                    <svg data-type="Line" data-name="Line 1" class="Line_1" viewBox="0 0 1254 718">
                        <path class="Line_1_Class" d="M 0 718 L 1254 0">
                        </path>
                    </svg>
                    <svg data-type="Line" data-name="Line 2" class="Line_2" viewBox="0 0 1285.5 553.15">
                        <path class="Line_2_Class" d="M 0 0 L 1285.5 553.1498413085938">
                        </path>
                    </svg>
                    <svg data-type="Line" data-name="Line 3" class="Line_3" viewBox="0 0 894 671">
                        <path class="Line_3_Class" d="M 894 0 L 0 671">
                        </path>
                    </svg>
                    <svg data-type="Line" data-name="Line 6" class="Line_6" viewBox="0 0 107 754.19">
                        <path class="Line_6_Class" d="M 0 0 L 107 754.18994140625">
                        </path>
                    </svg>
                    <svg data-type="Line" data-name="Line 7" class="Line_7" viewBox="0 0 439 662">
                        <path class="Line_7_Class" d="M 439 662 L 0 0">
                        </path>
                    </svg>
                    <svg data-type="Line" data-name="Line 8" class="Line_8" viewBox="0 0 84 754">
                        <path class="Line_8_Class" d="M 84 754 L 0 0">
                        </path>
                    </svg>
                    <svg data-type="Line" data-name="Line 9" class="Line_9" viewBox="0 0 398 561">
                        <path class="Line_9_Class" d="M 0 561 L 398 0">
                        </path>
                    </svg>
                </div>
                <svg data-type="Line" data-name="Line 11" class="Line_11" viewBox="0 0 1321 203">
                    <path class="Line_11_Class" d="M 0 203 L 1321 0">
                    </path>
                </svg>
            </div>
        </div>
        <svg data-type="Line" data-name="Line 12" class="Line_12" viewBox="0 0 235 756">
            <path class="Line_12_Class" d="M 0 0 L 235 756">
            </path>
        </svg>
    </div>
    <div data-type="Group" data-name="Group 2" class="Group_2_Class">
        <svg data-type="Rectangle" data-name="Rectangle 2" class="Rectangle_2">
            <rect class="Rectangle_2_Class" rx="77" ry="77" x="0" y="0" width="594" height="447">
            </rect>
        </svg>
        <svg data-type="Rectangle" data-name="Rectangle 5" class="Rectangle_5">
            <rect class="Rectangle_5_Class" rx="49.62222671508789" ry="49.62222671508789" x="0" y="0" width="196.005" height="99.244">
            </rect>
        </svg>
        <div data-type="Text" data-name="Login" class="Login_Class">
            <span>Login</span>
        </div>
        <div data-type="Group" data-name="EMAIL" class="EMAIL_Class">
            @*<svg data-type="Path" data-name="Path 2" class="Path_2" viewBox="0 0 407 62">
                <path class="Path_2_Class" d="M 0 0 L 407 0 L 407 62 L 135.8592529296875 62 L 0 62 L 0 0 Z">
                </path>
            </svg>*@
            <div class="Email_Class" > <!--data-type="Text" data-name="Email"--> 
                <p>Email</p>
                <input type="email"  class="Email_Class" required/>
            </div>
        </div>
        <div data-type="Group" data-name="PASSWORD" class="PASSWORD_Class">
            @*<svg data-type="Rectangle" data-name="Rectangle 4" class="Rectangle_4">
                <rect class="Rectangle_4_Class" rx="0" ry="0" x="0" y="0" width="407" height="62">
                </rect>
            </svg>*@
            <div class="Password_Class">
                <p class="Password">Password</p>
                <input type="password" class="Password_Class"/>
                <br />
            </div>
        </div>
    </div>
</div>
